#toolbox {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 75%;
    width: 25%;
    background-color: #808080;
}

#options {
    position: absolute;
    left: 0%;
    top: 75%;
    height: 25%;
    width: 25%;
    background-color: #C0C0C0;
}

#preview {
    position: absolute;
    left: 25%;
    top: 0%;
    height: 100%;
    width: 100%;
}
